[
    (
        id: "airlock_controller",
        name: "airlock",
        ext: "disl",
        path: "scripts/airlock.luau",
    ),
    (
        id: "airlock_instructions",
        name: "readme",
        ext: "md",
        path: "text/airlock.md",
    ),
    (
        id: "fax_controller",
        name: "fax-demo",
        ext: "disl",
        path: "scripts/fax.luau",
    ),
]
