(
    body_dmi: "mob/human/bodyparts_greyscale.dmi",
    body_parts: [
        "human_chest_m",
        "human_r_leg",
        "human_l_leg",
        "human_r_arm",
        "human_l_arm",
        "human_r_hand",
        "human_l_hand",
        "human_head_m",
    ],
    skin: (232, 200, 168),
    sprites: [
        ("space", Dmi("turf/space.dmi", "space", 0)),
        ("floor", Dmi("turf/floors.dmi", "floor", 0)),
        ("plating", Dmi("turf/floors.dmi", "plating", 0)),
        ("wall", Dmi("turf/walls/wall.dmi", "wall-0", 0)),
        ("girder", Dmi("obj/structures.dmi", "girder", 0)),
        ("frame", Dmi("obj/devices/stock_parts.dmi", "box_0", 0)),
        ("board", Dmi("obj/devices/circuitry_n_data.dmi", "mainboard", 0)),
        ("door", Dmi("obj/doors/airlocks/station/public.dmi", "closed", 0)),
        ("door_open", Dmi("obj/doors/airlocks/station/public.dmi", "open", 0)),
        ("door_eng", Dmi("obj/doors/airlocks/station/engineering.dmi", "closed", 0)),
        ("door_eng_open", Dmi("obj/doors/airlocks/station/engineering.dmi", "open", 0)),
        ("apc", Dmi("obj/machines/wallmounts.dmi", "apc0", 0)),
        ("apc_s", Dmi("obj/machines/wallmounts.dmi", "apc0", 0)),
        ("apc_n", Dmi("obj/machines/wallmounts.dmi", "apc0", 0)),
        ("apc_e", Dmi("obj/machines/wallmounts.dmi", "apc0", 0)),
        ("apc_w", Dmi("obj/machines/wallmounts.dmi", "apc0", 0)),
        ("apcov_chg0", Dmi("obj/machines/wallmounts.dmi", "apco3-0", 0)),
        ("apcov_chg1", Dmi("obj/machines/wallmounts.dmi", "apco3-1", 0)),
        ("apcov_chg2", Dmi("obj/machines/wallmounts.dmi", "apco3-2", 0)),
        ("apcov_lock", Dmi("obj/machines/wallmounts.dmi", "apcox-0", 0)),
        ("apcov_eq_on", Dmi("obj/machines/wallmounts.dmi", "apco0-3", 0)),
        ("apcov_eq_off", Dmi("obj/machines/wallmounts.dmi", "apco0-1", 0)),
        ("apcov_lt_on", Dmi("obj/machines/wallmounts.dmi", "apco1-3", 0)),
        ("apcov_lt_off", Dmi("obj/machines/wallmounts.dmi", "apco1-1", 0)),
        ("apcov_env_on", Dmi("obj/machines/wallmounts.dmi", "apco2-3", 0)),
        ("apcov_env_off", Dmi("obj/machines/wallmounts.dmi", "apco2-1", 0)),
        ("human_s", Body(0)),
        ("human_n", Body(1)),
        ("human_e", Body(2)),
        ("human_w", Body(3)),
        ("human_dead", BodyDead),
        ("worn_backpack_s", Dmi("mob/clothing/back/backpack.dmi", "backpack", 0)),
        ("worn_backpack_n", Dmi("mob/clothing/back/backpack.dmi", "backpack", 1)),
        ("worn_backpack_e", Dmi("mob/clothing/back/backpack.dmi", "backpack", 2)),
        ("worn_backpack_w", Dmi("mob/clothing/back/backpack.dmi", "backpack", 3)),
        ("worn_uniform_grey_s", Dmi("mob/clothing/under/color.dmi", "grey_ancient", 0)),
        ("worn_uniform_grey_n", Dmi("mob/clothing/under/color.dmi", "grey_ancient", 1)),
        ("worn_uniform_grey_e", Dmi("mob/clothing/under/color.dmi", "grey_ancient", 2)),
        ("worn_uniform_grey_w", Dmi("mob/clothing/under/color.dmi", "grey_ancient", 3)),
        ("worn_uniform_eng_s", Dmi("mob/clothing/under/engineering.dmi", "engine", 0)),
        ("worn_uniform_eng_n", Dmi("mob/clothing/under/engineering.dmi", "engine", 1)),
        ("worn_uniform_eng_e", Dmi("mob/clothing/under/engineering.dmi", "engine", 2)),
        ("worn_uniform_eng_w", Dmi("mob/clothing/under/engineering.dmi", "engine", 3)),
        ("worn_uniform_med_s", Dmi("mob/clothing/under/medical.dmi", "medical", 0)),
        ("worn_uniform_med_n", Dmi("mob/clothing/under/medical.dmi", "medical", 1)),
        ("worn_uniform_med_e", Dmi("mob/clothing/under/medical.dmi", "medical", 2)),
        ("worn_uniform_med_w", Dmi("mob/clothing/under/medical.dmi", "medical", 3)),
        ("worn_uniform_sec_s", Dmi("mob/clothing/under/security.dmi", "security", 0)),
        ("worn_uniform_sec_n", Dmi("mob/clothing/under/security.dmi", "security", 1)),
        ("worn_uniform_sec_e", Dmi("mob/clothing/under/security.dmi", "security", 2)),
        ("worn_uniform_sec_w", Dmi("mob/clothing/under/security.dmi", "security", 3)),
        ("worn_uniform_cap_s", Dmi("mob/clothing/under/captain.dmi", "captain", 0)),
        ("worn_uniform_cap_n", Dmi("mob/clothing/under/captain.dmi", "captain", 1)),
        ("worn_uniform_cap_e", Dmi("mob/clothing/under/captain.dmi", "captain", 2)),
        ("worn_uniform_cap_w", Dmi("mob/clothing/under/captain.dmi", "captain", 3)),
        ("uniform_grey", Dmi("obj/clothing/under/color.dmi", "grey_ancient", 0)),
        ("uniform_eng", Dmi("obj/clothing/under/engineering.dmi", "engine", 0)),
        ("uniform_med", Dmi("obj/clothing/under/medical.dmi", "medical", 0)),
        ("uniform_sec", Dmi("obj/clothing/under/security.dmi", "rsecurity", 0)),
        ("uniform_cap", Dmi("obj/clothing/under/captain.dmi", "captain", 0)),
        ("toolbox", Dmi("obj/storage/toolbox.dmi", "red", 0)),
        ("backpack", Dmi("obj/storage/backpack.dmi", "backpack", 0)),
        ("headset", Dmi("obj/clothing/headsets.dmi", "headset", 0)),
        ("welder", Dmi("obj/tools.dmi", "welder", 0)),
        ("id", Dmi("obj/card.dmi", "card_grey", 0)),
        ("crowbar", Dmi("obj/tools.dmi", "crowbar", 0)),
        ("vendor", Dmi("obj/machines/vending.dmi", "Cola_Machine", 0)),
        ("cola", Dmi("obj/drinks/soda.dmi", "cola", 0)),
        ("outlet", Dmi("obj/pipes_n_cables/structures.dmi", "term", 0)),
        ("outlet_s", Dmi("obj/pipes_n_cables/structures.dmi", "term", 0)),
        ("outlet_n", Dmi("obj/pipes_n_cables/structures.dmi", "term", 1)),
        ("outlet_e", Dmi("obj/pipes_n_cables/structures.dmi", "term", 2)),
        ("outlet_w", Dmi("obj/pipes_n_cables/structures.dmi", "term", 3)),
        ("generator", Dmi("obj/machines/engine/other.dmi", "portgen0_0", 0)),
        ("smes", Dmi("obj/machines/engine/other.dmi", "smes", 0)),
        ("light_on", DmiLayers([
            ("obj/lighting.dmi", "tube"),
            ("obj/lighting_overlay.dmi", "tube"),
        ], 0)),
        ("light_off", Dmi("obj/lighting.dmi", "tube", 0)),
        ("light_on_s", DmiLayers([
            ("obj/lighting.dmi", "tube"),
            ("obj/lighting_overlay.dmi", "tube"),
        ], 0)),
        ("light_on_n", DmiLayers([
            ("obj/lighting.dmi", "tube"),
            ("obj/lighting_overlay.dmi", "tube"),
        ], 1)),
        ("light_on_e", DmiLayers([
            ("obj/lighting.dmi", "tube"),
            ("obj/lighting_overlay.dmi", "tube"),
        ], 2)),
        ("light_on_w", DmiLayers([
            ("obj/lighting.dmi", "tube"),
            ("obj/lighting_overlay.dmi", "tube"),
        ], 3)),
        ("light_off_s", Dmi("obj/lighting.dmi", "tube", 0)),
        ("light_off_n", Dmi("obj/lighting.dmi", "tube", 1)),
        ("light_off_e", Dmi("obj/lighting.dmi", "tube", 2)),
        ("light_off_w", Dmi("obj/lighting.dmi", "tube", 3)),
        ("wirecutters", Dmi("obj/tools.dmi", "cutters", 0)),
        ("coil", Dmi("obj/stack_objects.dmi", "coil", 0)),
        ("beaker", Dmi("obj/medical/chemical.dmi", "beaker", 0)),
        ("ghost", Dmi("mob/human/species/ghost.dmi", "ghost_base", 0)),
        ("solar", Dmi("obj/machines/solar.dmi", "solar_panel_glass", 0)),
        ("vent_on", Dmi("obj/machines/atmospherics/unary_devices.dmi", "vent_out", 0)),
        ("vent_off", Dmi("obj/machines/atmospherics/unary_devices.dmi", "vent_off", 0)),
        ("metal", Dmi("obj/stack_objects.dmi", "sheet-metal_3", 0)),
        ("floor_tile", Dmi("obj/tiles.dmi", "tile", 0)),
        ("tv", Dmi("obj/machines/computer.dmi", "detective_tv", 0)),
        ("white", White),
    ],
    offsets: [
        ("apc_s", 0, 25),
        ("apc_n", 0, -25),
        ("apc_e", 25, 0),
        ("apc_w", -25, 0),
        ("outlet_s", 0, 25),
        ("outlet_n", 0, -25),
        ("outlet_e", 25, 0),
        ("outlet_w", -25, 0),
    ],
    emissive: [
        "apcov_chg0",
        "apcov_chg1",
        "apcov_chg2",
        "apcov_lock",
        "apcov_eq_on",
        "apcov_eq_off",
        "apcov_lt_on",
        "apcov_lt_off",
        "apcov_env_on",
        "apcov_env_off",
    ],
)